html,body {margin: 0; padding: 0; background-color: #FFF; line-height: 1.25; font-family: Arial, sans-serif; font-size: 11px; color: #333;}
html,body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

a {cursor: pointer;}

.clear {
    clear:both;
}

/*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: transparent;
}
 
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.3);
}*/

#edit-pane {
    position: absolute;
    z-index: 2;
    right:0;

    color:#666;
    display:none;
}

#edit-area {
    padding: 10px 20px;
    background: rgba(238,238,238,0.9);
    
    border: 1px solid #e3e3e3;
}

#edit-title {
    -webkit-appearance: none;
    border: 0;
    font-size: 1.5em;
    color: #666;
    background: transparent;
    font-weight: bold;
    padding: 0;
    margin: 0 0 10px 0;
    display: block;
    width: 100%;
}

.editSection {
    background: #F8F8F8;
    padding: 3px;
    border: 1px solid #ddd;
    margin: 0 10px 10px 0;
    float: left;
}
.editSectionTitle {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: .3em;
}
.editSection label, .editSectionTitle {
    text-transform: capitalize;
}
.editSection label, .editSection input[type=text] {
    display: block;
}

.editSection label.bool {
    display: inline-block;
}

.editSection label.margin {
    text-align: center;
    margin-top: 3px;
}
.editSection label.coords, #l-area-id, #area-id, #l-image-id, #image-id {
    display:none;
}

.editSection label small {
    color: #888;
    font-size: 8px;
}

.editSection input[type=text] {
    border: 1px solid #ddd;
    background: #fff;
    padding: 2px;
    color: #333;
}

#process-pane {
    position: relative;
    z-index: 3;
    height: 100%;
    float: left;
    width: 250px;
    background: #EEE;
    overflow: hidden;
}
#process-pane, #process-pane * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#process-pane > div {
    padding-top: 10px;
    z-index: 1;
    float: left;
    position: relative;
    background: #EEE;
}

#page-type {width:100%;}

#process-pane select {
    border: 0;
    background: url("../images/drop.png") repeat-y scroll 220px 60px #38B4E5;
    color: #FFF;
    font-size: 15px;

    padding: 15px 0 15px 20px;
    width: 265px;
    float: left;
    height: 60px;
    line-height: 20px;

    -webkit-appearance:none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;

}

#process-pane select.add {
    background:#38b4e5;
    padding: 15px 0 15px 20px;
    width: 250px;
}
#process-pane select.add+.addbutton {
    display:inline-block !important;
}
#process-pane select+.addbutton {
    display:none;
    height:60px;
    text-indent: -9999px;
    width:30px;
    background: url('../images/whiteplus.png') #79cef1 no-repeat center center;
    position: absolute;
    right: 0;
    top:0;
}

#new-element-selector-area {
    width:250px;
    position: relative;
}

#dependencies {display:none}
#element-container {height: 100%;position: absolute !important;top:0;width: 100%;overflow-y:auto;overflow-x:hidden; z-index: 0 !important; padding-top: 0 !important;}
#element-list {width:100%; padding-top:110px; padding-bottom: 85px;}

.element-link {
    cursor: pointer;
    background: url('../images/rightarr.png') #79e438 repeat-y right center;
    color: #2f5915;
    text-decoration: none;
    padding: 15px 30px 15px 20px;
    margin-top: 10px;
}
.element-link.post {
    display:none;
}
.children,.add-child {
    border-left: 5px solid #ccc;
    padding-top: 10px;
    margin-left: 15px;
}

.add-child {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* This parent has elements beneath it active */
.childactive>.element-link:first-child {
    background-color: #c6f4a0;
}

.childactive>.add-child,.active>.add-child {
    display:block;
}

.add-child {
    display:none;
}
.add-sub-element-link {
    display: block;
    cursor: pointer;
    color: #6B0;
    font-weight: bold;
    text-decoration: none;
    background: url('../images/plusicon.png') no-repeat 0 6px;
    
    margin-left: 10px;
    padding: 5px 0 0 14px;
}
.add-sub-element-link img {
    margin-right: 5px;
}

.container {
    margin-top: 10px;
    overflow-y: hidden;
}
.children>*:first-child,.container>*:first-child {
    margin-top: 0;
}

#process-pane select.inactive {
    background: url('../images/drop2.png') repeat-y scroll 220px 45px #ddd;
    width: 280px;
    padding: 5px 10px 5px 20px;
    height: 30px;
    font-size: 12px;
    color: #666;
}
#process-pane select+.addbutton.inactive {
    background-color: #b4b4b4;
    height: 30px;
}
#process-pane select.add.inactive {
    background:#ddd;
}

.inactive .children {display:none;}

#preview-pane {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    overflow-y: auto;
    text-align: center;
}

#preview-pane.hasHTML {
    background-image: -webkit-linear-gradient(top, #eee, #ddd);
    background-image: -linear-gradient(to bottom, #eee, #ddd);
}

#preview-pane .preview {
    display: inline-block;
    margin-left:250px;
    text-align: left;
    background: #FFF;
}

.element-link.inactive {
    background: #F8F8F8;
    color: #333;
}

.actions {
    float:right;
}

.editSection .button {
    margin-top: 1em;
}
.button {
    color: #888;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    text-shadow: rgba(0, 0, 0, 0.09) 0px 1px 0px;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    cursor: pointer;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;

    background-color: #d1d1d1;
    background-image: -webkit-linear-gradient(top, #dedede, #d1d1d1);
    background-image: -linear-gradient(to bottom, #dedede, #d1d1d1);
    border: 1px solid #bbb;
    overflow: hidden;
}

.button.negative {
    color:#FFF;
    background-color: rgb(209, 72, 54);
    background-image: -webkit-linear-gradient(top, rgb(221, 75, 57), rgb(209, 72, 54));
    background-image: -linear-gradient(to bottom, rgb(221, 75, 57), rgb(209, 72, 54));
    border: 1px solid #fbb;
}

.button.positive {
    color:#FFF;
    background-color: #60d136;
    background-image: -webkit-linear-gradient(top, #63dd39, #60d136);
    background-image: -linear-gradient(to bottom, #63dd39, #60d136);
    border: 1px solid #cfb;
}

.button img {
    vertical-align: middle;
}

#marginarea {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.boxmargin {
    -webkit-appearance:none;
    display: inline-block;
    position: absolute;
    cursor: pointer;
}

#margin1, #margin3 {border-top:8px solid #F8F8F8; border-bottom:8px solid #F8F8F8;}
#margin2, #margin4 {border-left:8px solid #F8F8F8; border-right:8px solid #F8F8F8;}

#margin1 {border-left:8px solid #ccc;  height: 24px; top:50%;  margin-top:-12px;  left:0;}      #margin1:checked {border-left-color: #666;}
#margin2 {border-top:8px solid #ccc;    width: 24px; left:50%; margin-left:-12px; top:0;}       #margin2:checked {border-top-color: #666;}
#margin3 {border-right:8px solid #ccc; height: 24px; top:50%;  margin-top:-12px;  right:0;}     #margin3:checked {border-right-color: #666;}
#margin4 {border-bottom:8px solid #ccc; width: 24px; left:50%; margin-left:-12px; bottom:0;}    #margin4:checked {border-bottom-color: #666;}

#function-area {
    position: fixed !important;
    bottom: 0;

    background: #ddd;
    width: 250px;
    padding: 10px 0;
    text-align: center;
    margin: 0 !important;
    border-top: 1px solid #bbb;
    z-index: 1;
}

#load-modal,#image-mapper {
    display:none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.7);
    z-index: 10;
    text-align: center;
}
#image-mapper {
    overflow:hidden;
}

#image-mapper-image {
    margin: 25px auto 1em auto;
    cursor:crosshair;
}

#image-mapper-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}
#load-modal .inner-modal{
    background: #FFF;
    width: 400px;
    height: 200px;
    position: relative;
    top: 50%;
    margin:-100px auto 0 auto;
}

#load-modal #browser {
    width:400px;
    height:200px;
    overflow: auto;
    border: 0;
}


/***************BROWSE***************/
.titlebar {
    height: 30px;
    line-height: 30px;
    position: relative;
    display:block;
}

.titlebar>* {display:inline-block;float:left;}

.titlebar h1 {
    padding: 0 10px;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    width: 62px;
}

.upfolder {
    height:30px;
    width:30px;
    overflow:hidden;
    text-indent: -9999px;
    background: url('../images/folderup.png') #38b3e4 no-repeat center center;
}

.folderarea {
    background:#333;
    color: #ccc;
    width:298px;
    padding:0 10px;
    height:30px;
}

.folderarea a {
    color:#fff;
}

#browse-folder {
    height: 164px;
    overflow-y: auto;
    margin: 3px 3px 3px 0;
    width: 397px;
}

#browse-folder a {
    display: block;
    padding: 3px 10px;
    color: #333;
}

#checkLinks, #export {
    display:none;
}

#browse-folder a:hover {
    color:#345;
}

#browse-folder .empty-directory {
    height: 164px;
    line-height: 164px;
    text-align: center;
}

#cg-version {
    color: #aaa;
    font-size: 10px;
    margin: 5px 0;
    text-align: center;
}


#cg-version .application, #cg-version .template {
    color: #666;
}
#cg-version .application:before{
    content:"Version: a.";
    color: #aaa;
}

#cg-version .template:before{
    content:" | t.";
    color: #aaa;
}

.fourohfour:before, .crossdomain:before {
    content: " ";
    width: 16px;
    display: inline-block;
    height: 16px;
    margin: -2px 10px -4px 0;
}
.crossdomain:before {
    background: url('../images/orange-icon.png');
}

.fourohfour:before {
    background: url('../images/red-icon.png');
}

/*** Just some catches ***/
.padl,.padt,.padr,.padb {
    display:inline-block
}
.padr {margin-right:12px}
.padt {margin-top:12px}
.padl {margin-left:12px}
.padb {margin-bottom:11px}