#banner {
    width:100%;
    height:auto
}
#container>a,#container>div,#container>img {
    display:block;
    clear:both;
    float:left;
    height:auto;
    width:100%;
    position:relative;
}
#container div>img,#container a>img {
    max-width:100%;
    width:100%;
    float:left;
}
.map {
    position:relative;
    overflow: hidden;
}
.map>img {
    position: relative;
    z-index: 0;
}
.map>a {
    display:inline-block;
    position:absolute;
    z-index:1;
    background:url('/assets/cms/mobile/home/px/1x1.gif') repeat scroll left top;
    text-indent: -9999px;
    overflow: hidden;
}